In [ ]:


import pandas as pd

# dataset load hareko

data = pd.read_csv("titanic.csv")
print("DATASET LOADED")

# first rows display
print("\nFirst 5 rows of the dataset:")
print(data.head())

# dataframe ko info
print("\nDataset Information:")
print(data.info())



print("\nPROBLEM 1 - SORTING")


# fare coumn
print("\n1. DataFrame with only Fare column:")
fare = data[['Fare']]
print(fare.head())

# pclass ra age ko columns
print("\n2. DataFrame with Pclass and Age columns:")

class_age = data[['Pclass', 'Age']]
print(class_age.head())

# dataframe with survived manxe ra sex columns
print("\n3. DataFrame with Survived and Sex columns:")
survived_gender = data[['Survived', 'Sex']]
print(survived_gender.head())

DATASET LOADED

First 5 rows of the dataset:
   PassengerId  Survived  Pclass         Name     Sex        Age       Fare  \
0            1         0       1  Passenger 1    male  36.476885  55.460597
1            2         0       1  Passenger 2    male  45.792128  40.348695
2            3         1       2  Passenger 3  female  24.292658  31.028107
3            4         0       2  Passenger 4    male  19.871689  31.284947
4            5         0       3  Passenger 5    male  30.675282   0.000000

  Embarked
0        S
1        Q
2        S
3        S
4        S

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  100 non-null    int64
 1   Survived     100 non-null    int64
 2   Pclass       100 non-null    int64
 3   Name         100 non-null    object
 4   Sex          100 non-null    object
 5   Age          100 non-null    float64
 6   Fare         100 non-null    float64
 7   Embarked     100 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 6.4+ KB
None

PROBLEM 1 - SORTING

1. DataFrame with only Fare column:
        Fare
0  55.460597
1  40.348695
2  31.028107
3  31.284947
4   0.000000

2. DataFrame with Pclass and Age columns:
   Pclass        Age
0       1  36.476885
1       1  45.792128
2       2  24.292658
3       2  19.871689
4       3  30.675282

3. DataFrame with Survived and Sex columns:
   Survived     Sex
0         0    male
1         0    male
2         1  female
3         0    male
4         0    male

In [ ]:


import pandas as pd

print("PROBLEM 2 - SUBSETTING")

print("\n PART 1: SUBSETTING ROWS")


# fare > 100
print("\n1. Passengers with Fare > 100:")
fare_gt_100 = data[data['Fare'] > 100]
print(fare_gt_100.head())
print(f"\nTotal passengers with fare > 100: {len(fare_gt_100)}")

# Pclass filter agreko
print("\n2. First Class Passengers (Pclass = 1):")

first_class = data[data['Pclass'] == 1]
print(first_class.head())
print(f"\nTotal first class passengers: {len(first_class)}")

# filter for female ra age greater than 18
print("\n3. Female passengers under 18:")
female_under_18 = data[(data['Age'] < 18) & (data['Sex'] == 'female')]
print(female_under_18.head())
print(f"\nTotal female passengers under 18: {len(female_under_18)}")

print("\n PART 2: SUBSETTING BY CATEGORICAL VARIABLES")


# filter embarked c ra s
print("\n1. Passengers embarked from Cherbourg (C) or Southampton (S):")
embarked_c_or_s = data[data['Embarked'].isin(['C', 'S'])]
print(embarked_c_or_s.head())
print(f"\nTotal passengers embarked from C or S: {len(embarked_c_or_s)}")

# pclass 1 ra 2
print("\n2. First or Second Class Passengers:")

first_second_class = data[data['Pclass'].isin([1, 2])]
print(first_second_class.head())
print(f"\nTotal first or second class passengers: {len(first_second_class)}")

PROBLEM 2 - SUBSETTING

 PART 1: SUBSETTING ROWS

1. Passengers with Fare > 100:
Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, Fare, Embarked]
Index: []

Total passengers with fare > 100: 0

2. First Class Passengers (Pclass = 1):
    PassengerId  Survived  Pclass          Name     Sex        Age       Fare  \
0             1         0       1   Passenger 1    male  36.476885  55.460597
1             2         0       1   Passenger 2    male  45.792128  40.348695
7             8         1       1   Passenger 8    male  37.384666  28.427366
9            10         0       1  Passenger 10    male  33.240840  17.298354
15           16         1       1  Passenger 16  female  39.823152  29.451893

   Embarked
0         S
1         Q
7         S
9         Q
15        S

Total first class passengers: 30

3. Female passengers under 18:
    PassengerId  Survived  Pclass          Name     Sex        Age       Fare  \
46           47         0       3  Passenger 47  female  11.798859  50.593629
66           67         1       3  Passenger 67  female  16.415325   2.776087
76           77         0       3  Passenger 77  female  17.438134  99.943763
86           87         0       2  Passenger 87  female  14.372940  43.333569

   Embarked
46        S
66        Q
76        C
86        Q

Total female passengers under 18: 4

 PART 2: SUBSETTING BY CATEGORICAL VARIABLES

1. Passengers embarked from Cherbourg (C) or Southampton (S):
   PassengerId  Survived  Pclass         Name     Sex        Age       Fare  \
0            1         0       1  Passenger 1    male  36.476885  55.460597
2            3         1       2  Passenger 3  female  24.292658  31.028107
3            4         0       2  Passenger 4    male  19.871689  31.284947
4            5         0       3  Passenger 5    male  30.675282   0.000000
5            6         1       3  Passenger 6    male  23.993613  19.166125

  Embarked
0        S
2        S
3        S
4        S
5        S

Total passengers embarked from C or S: 89

2. First or Second Class Passengers:
   PassengerId  Survived  Pclass         Name     Sex        Age       Fare  \
0            1         0       1  Passenger 1    male  36.476885  55.460597
1            2         0       1  Passenger 2    male  45.792128  40.348695
2            3         1       2  Passenger 3  female  24.292658  31.028107
3            4         0       2  Passenger 4    male  19.871689  31.284947
6            7         0       2  Passenger 7    male  38.225449   0.583127

  Embarked
0        S
1        Q
2        S
3        S
6        S

Total first or second class passengers: 55

In [ ]:


import pandas as pd
import numpy as np


print("SECTION 3.2 - EXPLORATORY DATA ANALYSIS PRACTICE EXERCISE 1")

print("\n QUESTION 1: Highest Fare Relative to Age")


# missing value handle gareko
print("\nHandling missing values in Age column...")
median_age = data['Age'].median()
data['Age'] = data['Age'].fillna(median_age)
print(f"Filled missing ages with median: {median_age}")

# add fare
print("\nStep 1: Adding fare_per_year column (Fare / Age)")
data['fare_per_year'] = data['Fare'] / data['Age']
print(data[['Name', 'Fare', 'Age', 'fare_per_year']].head())

# rows where dare > 5
print("\nStep 2: Filtering for fare_per_year > 5")
high_fare_age = data[data['fare_per_year'] > 5]
print(f"Number of passengers with fare_per_year > 5: {len(high_fare_age)}")

# descending order ma fare sort gareko
print("\nStep 3: Sorting by fare_per_year (descending)")
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

# Name ra fare sort
print("\nStep 4: Selecting Name and fare_per_year columns")
result = high_fare_age_srt[['Name', 'fare_per_year']]

#  Look at the result
print("\nStep 5: Result - Top passengers with highest fare relative to age:")
print(result.head(10))

print("\n ANSWER:")
print(f"Passenger with highest fare relative to age: {result.iloc[0]['Name']}")
print(f"Fare per year: ${result.iloc[0]['fare_per_year']:.2f}")

print("\n QUESTION 2: Adult Male with Highest Fare Relative to Class")


# fare add gareko per class
print("\nStep 1: Adding fare_per_class column (Fare / Pclass)")
data['fare_per_class'] = data['Fare'] / data['Pclass']
print(data[['Name', 'Fare', 'Pclass', 'fare_per_class']].head())

# male ra age >= 18
print("\nStep 2: Filtering for adult males (Age >= 18 and Sex = 'male')")
adult_males = data[(data['Sex'] == 'male') & (data['Age'] >= 18)]
print(f"Number of adult male passengers: {len(adult_males)}")

# descending order ma fare sortng
print("\nStep 3: Sorting by fare_per_class (descending)")
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

# name age ra fare
print("\nStep 4: Selecting Name, Age, and fare_per_class columns")
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

print("\nStep 5: Result - Top adult male passengers with highest fare relative to class:")
print(result.head(10))

print("\n ANSWER:")
print(f"Adult male passenger with highest fare relative to class: {result.iloc[0]['Name']}")
print(f"Age: {result.iloc[0]['Age']:.0f}")
print(f"Fare per class: ${result.iloc[0]['fare_per_class']:.2f}")

SECTION 3.2 - EXPLORATORY DATA ANALYSIS PRACTICE EXERCISE 1

 QUESTION 1: Highest Fare Relative to Age

Handling missing values in Age column...
Filled missing ages with median: 30.351826670459197

Step 1: Adding fare_per_year column (Fare / Age)
          Name       Fare        Age  fare_per_year
0  Passenger 1  55.460597  36.476885       1.520431
1  Passenger 2  40.348695  45.792128       0.881127
2  Passenger 3  31.028107  24.292658       1.277263
3  Passenger 4  31.284947  19.871689       1.574348
4  Passenger 5   0.000000  30.675282       0.000000

Step 2: Filtering for fare_per_year > 5
Number of passengers with fare_per_year > 5: 1

Step 3: Sorting by fare_per_year (descending)

Step 4: Selecting Name and fare_per_year columns

Step 5: Result - Top passengers with highest fare relative to age:
            Name  fare_per_year
76  Passenger 77       5.731333

 ANSWER:
Passenger with highest fare relative to age: Passenger 77
Fare per year: $5.73

 QUESTION 2: Adult Male with Highest Fare Relative to Class

Step 1: Adding fare_per_class column (Fare / Pclass)
          Name       Fare  Pclass  fare_per_class
0  Passenger 1  55.460597       1       55.460597
1  Passenger 2  40.348695       1       40.348695
2  Passenger 3  31.028107       2       15.514054
3  Passenger 4  31.284947       2       15.642473
4  Passenger 5   0.000000       3        0.000000

Step 2: Filtering for adult males (Age >= 18 and Sex = 'male')
Number of adult male passengers: 61

Step 3: Sorting by fare_per_class (descending)

Step 4: Selecting Name, Age, and fare_per_class columns

Step 5: Result - Top adult male passengers with highest fare relative to class:
            Name        Age  fare_per_class
23  Passenger 24  35.868571       68.809113
0    Passenger 1  36.476885       55.460597
97  Passenger 98  29.920274       54.598883
37  Passenger 38  25.534850       42.127976
1    Passenger 2  45.792128       40.348695
92  Passenger 93  36.141667       40.150154
21  Passenger 22  28.076390       31.030947
7    Passenger 8  37.384666       28.427366
71  Passenger 72  32.240925       25.251848
78  Passenger 79  28.854602       24.878163

 ANSWER:
Adult male passenger with highest fare relative to class: Passenger 24
Age: 36
Fare per class: $68.81

In [ ]:

import pandas as pd
import numpy as np
print("SECTION 3.3 - EDA WITH GROUP-BY METHOD")

print("\n QUESTION 1: Fare Revenue Percentage by Passenger Class")


# total fare ganeko
print("\nStep 1: Calculate total fare across all passengers")
total_fare = data['Fare'].sum()
print(f"Total fare revenue: ${total_fare:.2f}")

# fare 1class ko lagi
print("\nStep 2: Calculate fare for first class")
first_class_fare = data[data['Pclass'] == 1]['Fare'].sum()
print(f"First class total fare: ${first_class_fare:.2f}")

# second class ko fare
print("\nStep 3: Calculate fare for second class")
second_class_fare = data[data['Pclass'] == 2]['Fare'].sum()
print(f"Second class total fare: ${second_class_fare:.2f}")

# class 3 ko fare
print("\nStep 3: Calculate fare for third class")
third_class_fare = data[data['Pclass'] == 3]['Fare'].sum()
print(f"Third class total fare: ${third_class_fare:.2f}")

# sabai total into a list
print("\nStep 4: Combine fare totals")
class_fare_totals = [first_class_fare, second_class_fare, third_class_fare]
print(f"Fare totals by class: {class_fare_totals}")

# revenue kati xa
print("\nStep 5: Calculate percentage of fare revenue by class")
fare_percentages = [(fare / total_fare) * 100 for fare in class_fare_totals]

print("\n RESULTS:")
print(f"First Class:  ${first_class_fare:.2f} ({fare_percentages[0]:.2f}%)")
print(f"Second Class: ${second_class_fare:.2f} ({fare_percentages[1]:.2f}%)")
print(f"Third Class:  ${third_class_fare:.2f} ({fare_percentages[2]:.2f}%)")
print(f"Total:        ${total_fare:.2f} (100.00%)")


print("\n QUESTION 2: Passenger Percentage by Age Group")

print("\nStep 1: Creating age_group column")
print("Categories: child (< 18), adult (18-64), senior (>= 65)")

def categorize_age(age):
    if pd.isna(age):
        return None
    elif age < 18:
        return 'child'
    elif age < 65:
        return 'adult'
    else:
        return 'senior'

data['age_group'] = data['Age'].apply(categorize_age)
print("\nSample of age_group column:")
print(data[['Name', 'Age', 'age_group']].head(10))

# passenger ko total number
print("\nStep 2: Calculate total number of passengers (with valid age)")
total_passengers = data['age_group'].notna().sum()
print(f"Total passengers with valid age: {total_passengers}")

# hareko group ko passenger counting
print("\nStep 3: Count passengers in each age group")
age_group_counts = data['age_group'].value_counts()
print(age_group_counts)

# age anusar passenger
print("\nStep 4: Calculate percentage of passengers in each age group")
age_group_percentages = (age_group_counts / total_passengers) * 100

# percent ma display
print("\n RESULTS:")

for age_group in ['child', 'adult', 'senior']:
    if age_group in age_group_counts.index:
        count = age_group_counts[age_group]
        percentage = age_group_percentages[age_group]
        print(f"{age_group.capitalize():8} : {count:4} passengers ({percentage:.2f}%)")
    else:
        print(f"{age_group.capitalize():8} : {0:4} passengers (0.00%)")

print(f"{'Total':8} : {total_passengers:4} passengers (100.00%)")

======================================================================
SECTION 3.3 - EDA WITH GROUP-BY METHOD
======================================================================

======================================================================
QUESTION 1: Fare Revenue Percentage by Passenger Class
======================================================================

Step 1: Calculate total fare across all passengers
Total fare revenue: $3350.53

Step 2: Calculate fare for first class
First class total fare: $958.82

Step 3: Calculate fare for second class
Second class total fare: $833.24

Step 3: Calculate fare for third class
Third class total fare: $1558.47

Step 4: Combine fare totals
Fare totals by class: [958.8204470779046, 833.2444741038066, 1558.4660440248906]

Step 5: Calculate percentage of fare revenue by class

ðŸ“Š RESULTS:
----------------------------------------------------------------------
First Class:  $958.82 (28.62%)
Second Class: $833.24 (24.87%)
Third Class:  $1558.47 (46.51%)
Total:        $3350.53 (100.00%)

======================================================================
QUESTION 2: Passenger Percentage by Age Group
======================================================================

Step 1: Creating age_group column
Categories: child (< 18), adult (18-64), senior (>= 65)

Sample of age_group column:
           Name        Age age_group
0   Passenger 1  36.476885     adult
1   Passenger 2  45.792128     adult
2   Passenger 3  24.292658     adult
3   Passenger 4  19.871689     adult
4   Passenger 5  30.675282     adult
5   Passenger 6  23.993613     adult
6   Passenger 7  38.225449     adult
7   Passenger 8  37.384666     adult
8   Passenger 9  15.214780     child
9  Passenger 10  33.240840     adult

Step 2: Calculate total number of passengers (with valid age)
Total passengers with valid age: 100

Step 3: Count passengers in each age group
age_group
adult    89
child    11
Name: count, dtype: int64

Step 4: Calculate percentage of passengers in each age group

ðŸ“Š RESULTS:
----------------------------------------------------------------------
Child    :   11 passengers (11.00%)
Adult    :   89 passengers (89.00%)
Senior   :    0 passengers (0.00%)
Total    :  100 passengers (100.00%)

======================================================================
âœ… Section 3.3 Completed!
======================================================================